# Server Configuration
PORT=3000
NODE_ENV=production

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173

# MongoDB Configuration
MONGODB_URI=mongodb+srv://seikhirfan2011:kolkata12@resume-architect.ynkondy.mongodb.net/?retryWrites=true&w=majority&appName=resume-architect

# OpenAI API Key
OPENAI_API_KEY=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